* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    font-size: 62.5%;
}

.page {
    height: 100vh;
}

header {
    width: 100%;
    padding: 2rem;
}
header h1 {
    font-size: clamp(4rem, 4rem + 1vw, 6rem);
    text-align: center;
}
header p, section p {
    font-size: clamp(1.6rem, 1.6rem + 1vw, 2rem);
    text-align: center;
}
.content {
    width: clamp(500px, 50.0rem + 10vw, 700px);
    border: 1px solid;
    padding: 2rem;
    margin:  0 auto;
}

@media (max-width: 582px) {
    .content {
        border: none;
    }
}